---
import { MELSDIARIES_APP_URL } from "@/consts";
---

<nav class="py-6 mb-8">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-3">
      <img src="/melsdiaries-logo.png" alt="Melsdiaries logo" class="w-12" />
    </div>
    <ul
      class="list-none flex gap-4 md:gap-8 items-center justify-center text-sm md:text-base"
    >
      <li>Use case</li>
      <li>Pricing</li>
      <li>FAQs</li>
      <li>
        <a
          href={MELSDIARIES_APP_URL}
          class="bg-primary px-4 md:px-6 py-2.5 rounded-full text-primary-foreground font-semibold hover:bg-primary/90 transition-all shadow-sm hover:shadow-md"
        >
          Get Started
        </a>
      </li>
    </ul>
  </div>
</nav>
