---
import { MELSDIARIES_APP_URL } from "@/consts";
---

<nav class="py-4 mb-4">
  <div class="flex justify-between items-center">
    <p class="font-semibold text-lg md:text-xl">Melsdiaries</p>
    <ul
      class="list-none flex gap-4 md:gap-8 items-center justify-center text-sm md:text-base"
    >
      <!-- <li class="hidden md:block">
        <a href="#" class="hover:text-orange-500 transition">Features</a>
      </li>
      <li class="hidden md:block">
        <a href="#" class="hover:text-orange-500 transition">Pricing</a>
      </li>
      <li class="hidden md:block">
        <a href="#" class="hover:text-orange-500 transition">Inspiration</a>
      </li> -->
      <li class="text-sm text-muted-foreground">
        get your beautifully printed photo book now.
      </li>
      <li
        class="bg-orange-500 px-4 md:px-6 py-2 rounded-full text-white hover:bg-orange-600 transition"
      >
        <a href={MELSDIARIES_APP_URL}>Get Started</a>
      </li>
    </ul>
  </div>
</nav>
