---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>melsdiaries</title>
    <ClientRouter />
  </head>
  <body class="bg-orange-50">
    <main class="max-w-[1000px] mx-auto px-4 my-4">
      <slot />
    </main>
  </body>
</html>
